/* Footer styles */
.container {
    background-color: #F7F7F7; /* Background color */
    padding: 20px; /* Padding for the footer content */
    text-align: center; /* Center align text */
    line-height: 60px;
}

.container ul {
    list-style: none; /* Remove bullet points from the list */
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container ul li {
    margin-bottom: 10px; /* Add space between list items */
    flex-basis: calc(16.66667% - 10px); /* Limit to 6 items per row */
}

.container ul li a {
    color: black; /* Link text color */
    text-decoration: none; /* Remove underlines from links */
    font-size: 18px; /* Font size */
}
